.img-cate{
    width: 60px;
    height: 80px;
}
.divBtn{
    width: 100%;
    margin: .5rem 0;
    display: flex;
    justify-content: flex-end;
}
.divBtn a{
    background-color: #ebebeb;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600;
}
